## Exercise - M02W01 - Interpolation

##### Exercise 1 (programming skills for 2D data)

In [ ]:
'''
Given a list of lists (2D data); n rows and m column

Question: write a function to compute summations for each row

Examples
Input:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]
        
Output:
result = [6, 15, 24]

----------------------------------
Input:
data = [[1, 2],
        [3, 4],
        [5, 6]]
Output:
[3, 7, 11]
'''

In [1]:
# implementation (way 1)
def compute_sum_1(data):
    height = len(data)
    width = len(data[0])
    
    result = []
    for vector in data:
        result.append(sum(vector))
        
    return result

In [5]:
# implementation (way 1)
def compute_sum_2(data):
    height = len(data)
    width = len(data[0])
    
    result = []
    for vector in data:
        sum_value = 0
        for element in vector:
            sum_value = sum_value + element
        result.append(sum_value)
        
    return result

# test case
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]
assert compute_sum_2(data) == [6, 15, 24]

data = [[1, 2],
        [3, 4],
        [5, 6]]
assert compute_sum_2(data) == [3, 7, 11]

In [6]:
# test 1
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]
print(compute_sum_2(data))

[6, 15, 24]

In [12]:
# test 2
data = [[1, 2],
        [3, 4],
        [5, 6]]
print(compute_sum_2(data))

[3, 7, 11]

In [7]:
# multiple choice
data = [[6, 8],
        [3, 1],
        [7, 3]]
print(compute_sum_2(data))

[14, 4, 10]

#### Exercise 2 (programming skills for 2D data)

In [ ]:
'''
Given a list of lists (2D data); n rows and n column (#rows==#columns)

Question: write a function to transpose the data (change rows to columns and vice verse)

Examples
Input:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]
        
Output:
result = [[1, 4, 7],
          [2, 5, 8],
          [3, 6, 9]]          
----------------------------
Input:
data = [[1, 2],
        [4, 5]]
        
Output:
result = [[1, 4],
          [2, 5]]
'''

In [11]:
# implementation
def transpose(data):
    n = len(data)
    
    result = [[0]*n for _ in range(n)]
    for i in range(n):
        for j in range(n):
            result[i][j] = data[j][i]
        
    return result

# test case
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]
assert transpose(data) == [[1, 4, 7], 
                           [2, 5, 8], 
                           [3, 6, 9]]

data = [[1, 2],
        [4, 5]]
assert transpose(data) == [[1, 4], 
                           [2, 5]]

In [9]:
# test 1
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]
print(transpose(data))

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [10]:
# test 2
data = [[1, 2],
        [4, 5]]
print(transpose(data))

[[1, 4], [2, 5]]

In [12]:
# multiple choice
data = [[7, 2],
        [3, 5]]
print(transpose(data))

[[7, 3], [2, 5]]

#### Exercise 3 (nearest neighbor interpolation for 1D data)

In [ ]:
'''
Given a list of numbers (length n) and a factor k

Question: write a function to interpolate the list to a target (new list) 
with the length of n*k using nearest neighbor interpolation

Examples
Input:
data = [1, 2, 3]
k = 2

Output:
result = [1, 1, 2, 2, 3, 3]
---------------------------
Input:
data = [1, 2, 3]
k = 3

Output:
result = [1, 1, 1, 2, 2, 2, 3, 3, 3]
'''

In [5]:
# implementation
def nni_1d(data, k):
    n = len(data)
    
    result_len = n*k
    result = [0]*result_len
    
    for i in range(result_len):
        print(i,i//2)
        result[i] = data[i//k]
        
    return result

# test case
data = [1, 2, 3]
k = 2
assert nni_1d(data, k) == [1, 1, 2, 2, 3, 3]

# data = [1, 2, 3]
# k = 3
# assert nni_1d(data, k) == [1, 1, 1, 2, 2, 2, 3, 3, 3]

0 0
1 0
2 1
3 1
4 2
5 2

In [15]:
# test 1
data = [1, 2, 3]
k = 2
print(nni_1d(data, k))

[1, 1, 2, 2, 3, 3]

In [16]:
# test 2
data = [1, 2, 3]
k = 3
print(nni_1d(data, k))

[1, 1, 1, 2, 2, 2, 3, 3, 3]

In [17]:
# multiple choice
data = [5, 7]
k = 3
print(nni_1d(data, k))

[5, 5, 5, 7, 7, 7]

#### Exercise 4 (nearest neighbor interpolation for 2D data)

In [ ]:
'''
Given a list of lists of numbers (n rows and m columns) and a factor k

Question: write a function to interpolate each row of the list to a target 
(a new list with n rows and m*k columns) using nearest neighbor interpolation

Examples
Input:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]
k = 2
        
Output:
result = [[1, 1, 2, 2, 3, 3], 
          [4, 4, 5, 5, 6, 6], 
          [7, 7, 8, 8, 9, 9]]
---------------------------------
Input:
data = [[1, 2],
        [4, 5],
        [7, 8]]
k = 2

Output:
result = [[1, 1, 2, 2], 
          [4, 4, 5, 5], 
          [7, 7, 8, 8]]
'''

In [18]:
# implementation
def h_nni_2d(data, k):
    n = len(data)
    m = len(data[0])
    
    result_m = m*k
    result = [[0]*result_m for _ in range(n)]    
    
    for i in range(n):
        # for each row
        for j in range(result_m):
            result[i][j] = data[i][j//k]
        
    return result

# test case
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]
k = 2
assert h_nni_2d(data, k) == [[1, 1, 2, 2, 3, 3], 
                             [4, 4, 5, 5, 6, 6], 
                             [7, 7, 8, 8, 9, 9]]

data = [[1, 2],
        [4, 5],
        [7, 8]]
k = 2
assert h_nni_2d(data, k) == [[1, 1, 2, 2], 
                             [4, 4, 5, 5], 
                             [7, 7, 8, 8]]

In [19]:
# test 1
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]
k = 2
print(h_nni_2d(data, k))

[[1, 1, 2, 2, 3, 3], [4, 4, 5, 5, 6, 6], [7, 7, 8, 8, 9, 9]]

In [20]:
# test 2
data = [[1, 2],
        [4, 5],
        [7, 8]]
k = 2
print(h_nni_2d(data, k))

[[1, 1, 2, 2], [4, 4, 5, 5], [7, 7, 8, 8]]

In [21]:
# multiple choice
data = [[3],
        [4]]
k = 3
print(h_nni_2d(data, k))

[[3, 3, 3], [4, 4, 4]]

#### Exercise 5 (nearest neighbor interpolation for 2D data)

In [ ]:
'''
Given a list of lists of numbers (n rows and m columns) and a factor k

Question: write a function to interpolate each column of the list to a target 
(a new list with n*k rows and m columns) using nearest neighbor interpolation

Examples
Input:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]
k = 2
        
Output:
result = [[1, 2, 3],
          [1, 2, 3],
          [4, 5, 6]
          [4, 5, 6],
          [7, 8, 9],
          [7, 8, 9]]
-------------------------
Input:
data = [[1, 2],
        [4, 5],
        [7, 8]]
k = 2

Output:
result = [[1, 2], 
          [1, 2], 
          [4, 5], 
          [4, 5], 
          [7, 8], 
          [7, 8]]
'''

In [1]:
# implementation
def v_nni_2d(data, k):
    n = len(data)
    m = len(data[0])
    
    result_n = n*k
    result = [[0]*m for _ in range(result_n)]    
    
    for j in range(m):    
        # for each column
        for i in range(result_n):
            result[i][j] = data[i//k][j]
        
    return result

# test case
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]
k = 2        
assert v_nni_2d(data, k) ==  [[1, 2, 3],
                              [1, 2, 3],
                              [4, 5, 6],
                              [4, 5, 6],
                              [7, 8, 9],
                              [7, 8, 9]]

data = [[1, 2],
        [4, 5],
        [7, 8]]
k = 2
assert v_nni_2d(data, k) == [[1, 2], 
                             [1, 2], 
                             [4, 5], 
                             [4, 5], 
                             [7, 8], 
                             [7, 8]]

In [2]:
# test 1
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]
k = 2
print(v_nni_2d(data, k))

[[1, 2, 3], [1, 2, 3], [4, 5, 6], [4, 5, 6], [7, 8, 9], [7, 8, 9]]

In [3]:
# test 2
data = [[1, 2],
        [4, 5],
        [7, 8]]
k = 2
print(v_nni_2d(data, k))

[[1, 2], [1, 2], [4, 5], [4, 5], [7, 8], [7, 8]]

In [4]:
# multiple choice
data = [[3, 7]]
k = 2
print(v_nni_2d(data, k))

[[3, 7], [3, 7]]

#### Exercise 6 (nearest neighbor interpolation for 2D data)

In [ ]:
'''
Given a list of lists of numbers (n rows and m columns) and a factor k

Question: write a function to interpolate the list to a target 
(a new list with n*k rows and m*k columns) using nearest neighbor interpolation

Examples
Input:
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]
k = 2
        
Output:
result = [[1, 1, 2, 2, 3, 3], 
          [1, 1, 2, 2, 3, 3], 
          [4, 4, 5, 5, 6, 6], 
          [4, 4, 5, 5, 6, 6], 
          [7, 7, 8, 8, 9, 9], 
          [7, 7, 8, 8, 9, 9]]
-----------------------------
Input:
data = [[1, 2],
        [4, 5],
        [7, 8]]
k = 2

Output:
result = [[1, 1, 2, 2], 
          [1, 1, 2, 2], 
          [4, 4, 5, 5], 
          [4, 4, 5, 5], 
          [7, 7, 8, 8], 
          [7, 7, 8, 8]]
'''

In [27]:
# implementation
def nni_2d(data, k):
    n = len(data)
    m = len(data[0])
    
    result_n = n*k
    result_m = m*k
    result = [[0]*result_m for _ in range(result_n)]    
    
    for i in range(result_n):
        for j in range(result_m):         
            result[i][j] = data[i//k][j//k]
        
    return result

# test case
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]
k = 2
assert nni_2d(data, k) == [[1, 1, 2, 2, 3, 3], 
                           [1, 1, 2, 2, 3, 3], 
                           [4, 4, 5, 5, 6, 6], 
                           [4, 4, 5, 5, 6, 6], 
                           [7, 7, 8, 8, 9, 9], 
                           [7, 7, 8, 8, 9, 9]]

data = [[1, 2],
        [4, 5],
        [7, 8]]
k = 2
assert nni_2d(data, k) == [[1, 1, 2, 2], 
                           [1, 1, 2, 2], 
                           [4, 4, 5, 5], 
                           [4, 4, 5, 5], 
                           [7, 7, 8, 8], 
                           [7, 7, 8, 8]]

In [28]:
# test 1
data = [[1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]]
k = 2
print(nni_2d(data, k))

[[1, 1, 2, 2, 3, 3], [1, 1, 2, 2, 3, 3], [4, 4, 5, 5, 6, 6], [4, 4, 5, 5, 6, 6], [7, 7, 8, 8, 9, 9], [7, 7, 8, 8, 9, 9]]

In [29]:
# test 2
data = [[1, 2],
        [4, 5],
        [7, 8]]
k = 2
print(nni_2d(data, k))

[[1, 1, 2, 2], [1, 1, 2, 2], [4, 4, 5, 5], [4, 4, 5, 5], [7, 7, 8, 8], [7, 7, 8, 8]]

In [30]:
# multiple choice
data = [[1, 2, 3, 4]]
k = 2
print(nni_2d(data, k))

[[1, 1, 2, 2, 3, 3, 4, 4], [1, 1, 2, 2, 3, 3, 4, 4]]

#### Exercise 7 (linear interpolation for 1D data)

In [ ]:
'''
Given a list of numbers (length n) and a factor k

Question: write a function to interpolate the list to a target (new list) 
with the length of n*k using linear interpolation. Note that, for the sake of simplicity,
you can ignore the last (k-1) element.

Examples
Input:
data = [1, 2, 3]
k = 2

Output:
result = [1.0, 1.5, 2.0, 2.5, 3.0, x]

---------------------------------------
Input:
data = [1, 4, 7]
k = 3

Output:
result = [1, 2.0, 3.0, 4, 5.0, 6.0, 7, x, x]
'''

In [39]:
# implementation
import math

def linear_interpolation(p1, p2, x):
    x1, y1 = p1
    x2, y2 = p2
    if x1 != x2:
        y = ((x2-x)/(x2-x1))*y1 + ((x-x1)/(x2-x1))*y2
    else:
        y = y1
    return y

def li_1d(data, k):
    n = len(data)
    
    result_len = n*k
    result = [0]*result_len
    
    for i in range(result_len-k+1):
        if i%k == 0:
            result[i] = data[i//k]
        else:
            begin = math.floor(i/k)
            end   = math.ceil(i/k)
            p1 = (begin, data[begin])
            p2 = (end, data[end])    
            y = linear_interpolation(p1=p1, p2=p2, x=i/k)
            result[i] = y
        
    return result

# test case
data = [1, 2, 3]
k = 2
assert li_1d(data, k)[:-1] == [1, 1.5, 2, 2.5, 3, 0][:-1]

data = [1, 4, 7]
k = 3
assert li_1d(data, k)[:-2] == [1, 2.0, 3.0, 4, 5.0, 6.0, 7, 0, 0][:-2]

In [40]:
# test 1
data = [1, 2, 3]
k = 2
print(li_1d(data, k))

[1, 1.5, 2, 2.5, 3, 0]

In [41]:
# test 2
data = [1, 4, 7]
k = 3
print(li_1d(data, k))

[1, 2.0, 3.0, 4, 5.0, 6.0, 7, 0, 0]

In [42]:
# multiple choice
data = [7, 10]
k = 3
print(li_1d(data, k)[:-2])

[7, 8.0, 9.0, 10]

#### Exercise 8 (linear interpolation for 1D data)

In [ ]:
import cv2
import numpy as np
import math

def resize_nni(source, source_h, source_w, target_h, target_w):    
    new_data = [[0]*target_w for _ in range(target_h)]
    
    #Calculate horizontal and vertical scaling factor
    w_scale_factor = source_w/target_w 
    h_scale_factor = source_h/target_h
    
    for i in range(target_h):
        for j in range(target_w):
            y = math.floor(i*h_scale_factor)
            x = math.floor(j*w_scale_factor)
            new_data[i][j] = source[y][x]
            
    return new_data

image = cv2.imread('tree.jpg', 0).tolist()

height = len(image)
width = len(image[0])

new_image = resize_nni(image, height, width, height*2, width*2)
cv2.imwrite('tree_2x.jpg', np.array(new_image))